[Unit]
Description=piStereo GPIO controller
After=multi-user.target

[Service]
ExecStart=/opt/pi_headunit/bin/run_python.sh /opt/pi_headunit/src/gpio_daemon.py
Restart=always
User=root
WorkingDirectory=/opt/pi_headunit

[Install]
WantedBy=multi-user.target
